body {
    background: url(../css/imagens/fotofundo.jpg) no-repeat center center/cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}


        #divResposta {
            width: 400px;
            background: #ffffff;
            border-radius: 12px;
            padding: 40px;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        }

        h1 {
            font-size: 28px;
            text-align: center;
            color: #333;
            margin-bottom: 30px;
        }

        .input_container {
            width: 100%;
            margin-bottom: 20px;
            margin-top: 20px;

            position: relative;
        }

        .input_container input {
            width: 100%;
            padding: 15px 20px;
            background: #f2f2f2;
            border: none;
            border-radius: 40px;
            font-size: 16px;
            box-sizing: border-box;
        }

        .input_container input.error {
            background-color: #f8d7da;
            border-style: outset;
            border-color: #f5c6cb;
        }

        button {
            width: 100%;
            padding: 15px;
            background: #333;
            border: none;
            border-radius: 40px;
            font-size: 20px;
            color: #fff;
            font-weight: 600;
        }

        button:hover {
            background: #555;
        }
        .text-danger {
            color: red;
            font-weight: bold;
            margin-top: 10px;
        }

        .register {
            text-align: center;
            margin-top: 20px;
        }

        .register p {
            color: #333;
            font-size: 14px;
        }

        .register a {
            color: #333;
            text-decoration: none;
            font-weight: bold;
        }

        .register a:hover {
            text-decoration: underline;
        }